@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --backcolor :rgb(39, 38, 38);
}
#navbar{
    background-color: rgb(39, 38, 38);
    position: sticky;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: center;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    margin: 20px;
    /* border: 2px solid white; */
}
.nav ul li a{
    text-decoration: none;
    font-size: 1.1rem;
    color: gray;
    font-family: 'Rubik', sans-serif;
}
.nav ul  a::after{
    content: " ";
    width: 0%;
    height: 2px;
    display: block;
    background-color: gray;
    transition: .5s;
}
.nav ul li a:hover::after{
    width: 100%;
}
 /* home section start   */
#home{
    display: flex;
    background-color:var(--backcolor);
    justify-content: space-between;
    padding: 30px 50px;
    min-height: 92vh;

}
.homeinfo{
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main{
    display: flex;
}
.static{
    font-size: 4rem;
    font-weight: 400;
    color: gray;
    margin-top: 8px;
    font-family: 'Rubik', sans-serif;
}
.dynamic{
    display: flex;
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    flex-direction: column;
}
.dynamic li{
    color: white;
    list-style: none;
    position: relative;
    top: 0;
    animation: slide 3s steps(2) infinite;
}
@keyframes slide{
    100%{
        top: -210px;
    }
}
.dynamic li span{
    font-size: 4rem;
    font-weight: 600;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.dynamic li span::after{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-left: 2px solid white;
    background: var(--backcolor);
    animation: typing 1.5s steps(10) infinite
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.homeinfo .homedetail{
    display: flex;
    /* border: 2px solid white; */
    padding: 10px 120px;
}
.homeinfo .homedetail p{
    color: rgb(227, 227, 227);
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
}

.homeul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.homeinfo .homeul ul{
    display: flex;
}
.homeinfo .homeul ul li{
    margin: 0px 15px;
    font-size: 1.4rem;
    color: gray;
    font-family: 'Rubik', sans-serif;
}
.homeinfo .homeul ul li:first-child{
    list-style: none;
}
.homeinfo .homebut{
    /* border: 2px solid white; */
    margin: 30px;
}

.homeinfo .homebut a{
    color: rgb(210, 210, 210);
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 15px;
    font-size: 1.1rem;
    margin: 20px;
    transition: .3s;
    font-family: 'Rubik', sans-serif;
    box-shadow:0 0 10px 0px gray;
    border-radius: 7px;
}
.homeinfo .homebut a:hover{
    background-color: gray;
    border: 2px solid gray;
    box-shadow: 0 0 10px 0px gray;
}

.homeimg{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid white; */
    /* margin-right: 100px; */
}
.homeimg img{
    border: 3px solid white;
    width: 500px;
    /* border-radius: 20px; */
}

/* about section start  */
#about{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    background-color: var(--backcolor);
    color: white;
    min-height: 90vh;
    padding: 50px 100px;
}
.aboutinfo{
    /* border: 2px solid white; */
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutinfo p{
    font-size: 1.5rem;
    color: gray;
    margin: 10px;
    font-family: 'Rubik', sans-serif;
}
.aboutinfo h1{
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    margin: 10px;
}
.aboutinfo .aboutbut{
    margin: 30px 10px;
}
.aboutinfo a{
    color: var(--backcolor);
    font-family: 'Rubik', sans-serif;
    background-color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .5s;
}
.aboutinfo a:hover{
    color: white;
    background-color: transparent;
    box-shadow: 0 0 20px 0px gray;
}

.aboutimg img{
    width: 400px;
    border: 3px solid white;
}

/* services section start   */
#services{
    display: flex;
    flex-direction: column;
    background-color: var(--backcolor);
    color: white;
    min-height: 80vh;
    align-items: center;
    padding-top: 30px;
}
.servicetitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicetitle p{
    color: gray;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    margin: 5px;
}
.servicetitle h1{
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    margin: 5px;
}
.servicedetails{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 100px;
}
.servicedetails .servicess{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
}
.servicedetails .servicess .service1{
    /* border: 2px solid white; */
    margin: 25px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* box-shadow: 0 0 10px 0px gray; */
    padding: 20px 30px;
    width: 500px;
    cursor: pointer;
}
.servicedetails .servicess .service1:hover{
    box-shadow: 0 0 10px 0px gray; 
}
.servicedetails .servicess .service1 .serviceicon{
    /* border: 2px solid white; */
    padding: 10px;
}
.servicedetails .servicess .service1 .serviceicon i{
    color: gray;
    font-size: 2rem;
}
.servicedetails .servicess .service1 .serinfo{
    /* border: 2px solid white; */
    margin: 10px;
}
.servicedetails .servicess .service1 .serinfo h2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    color: gray;
}
.servicedetails .servicess .service1 .serinfo p{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    margin-top: 15px;
    color: gray;
}


/* projects section start  */

#project{
    display: flex;
    flex-direction: column;
    background-color: var(--backcolor);
    color: white;
    /* border: 2px solid white; */
    min-height: 92vh;
    align-items: center;
}
.projecttitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projecttitle p{
    color: gray;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    margin: 5px;
}
.projecttitle h1{
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    margin: 5px;
}
.projectsdetails{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 100px;
}
.projectsdetails .projectss1{
    /* border: 2px solid white; */
    display: flex;
}
.projectsdetails .projectss1 .project1{
    /* border: 2px solid white; */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px gray;
}

.projectsdetails .projectss1 .project1 .proimg img{
    width: 400px;
    border: 2px solid var(--backcolor);
    /* border-radius: 20px; */
    padding: 10px;
    /* box-shadow: 0 0 20px 0px white; */
}
.projectsdetails .projectss1 .project1 .proinfo{
    /* border: 2px solid white; */
    border-radius: 20px;
    margin: 10px 0px;
    padding: 0px 30px;
    text-align: center;
    /* box-shadow: 0 0 20px 0px white; */
}
.projectsdetails .projectss1 .project1 .proinfo h2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    margin: 5px;
}
.projectsdetails .projectss2{
    /* border: 2px solid white; */
    display: flex;
}
.projectsdetails .projectss2 .project1{
    /* border: 2px solid white; */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px gray;
}

.projectsdetails .projectss2 .project1 .proimg img{
    width: 400px;
    border: 2px solid var(--backcolor);
    /* border-radius: 20px; */
    padding: 10px;
    /* box-shadow: 0 0 20px 0px white; */
}
.projectsdetails .projectss2 .project1 .proinfo{
    /* border: 2px solid white; */
    border-radius: 20px;
    margin: 10px 0px;
    padding: 0px 30px;
    text-align: center;
    /* box-shadow: 0 0 20px 0px white; */
}
.projectsdetails .projectss2 .project1 .proinfo h2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    margin: 5px;
}

/* contact section start  */
#contact{
    display: flex;
    min-height: 50vh;
    /* border: 2px solid white; */
    justify-content: center;
    padding: 50px;
    background-color: var(--backcolor);
}
.contactinfo{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0px gray;
    padding: 30px;
    align-items: center;
}
.contactinfo p{
    color: gray;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}
.contactinfo h2{
    color: gray;
    font-size: 3.4rem;
    font-family: 'Rubik', sans-serif;
    margin: 10px;
}
.contactinfo a{
    color:var(--backcolor);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    border: 2px solid gray;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    width: 15%;
    background-color: gray;
    transition: .4s;
}
.contactinfo a:hover{
    box-shadow: 0 0 20px 0px gray;
    background-color: white;
}

/* footer section start  */

#footer{
    background-color: var(--backcolor);
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0px gray;
    /* border-top: 2px solid gray; */
}
.footop{
    /* border: 2px solid white; */
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}
.footop .bx1{
    /* border: 2px solid white; */
    width: 25%;
}
.footop .bx1 h1{
    color: gray;
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
}
.footop .bx1 p{
    margin-top: 20px;
    color: gray;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
}
.footop .bx2{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
}
.footop .bx2 h2{
    color: gray;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
}
.footop .bx2 a{
    color: gray;
    text-decoration: none;
    margin: 5px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    transition: .3s;
    /* border: 2px solid white; */
    width: 35%;
}
.footop .bx2 a:hover{
    /* text-decoration: underline; */
    color: white;
}
.footop .bx3{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
}
.footop .bx3 h2{
    color: gray;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
}
.footop .bx3 p{
    color: gray;
    text-decoration: none;
    margin: 5px;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
}
.footop .bx4{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
}
.footop .bx4 h2{
    color: gray;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
}
.footop .bx4 .icon{
    /* border: 2px solid white; */
    padding: 10px 0px ;
}
.footop .bx4 .icon i{
    color: gray;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    /* border: 2px solid white; */
    padding: 5px;
    border-radius: 50%;
}
.footop .bx4 .icon .fa-facebook{
    padding: 5px 8px;
}
.footop .bx4 .icon i:hover{
    color: var(--backcolor);
    box-shadow: 0 0 30px 0px white;
    background-color: gray;
}
.footbot{
    display: flex;
    padding: 10px;
    justify-content: center;
    box-shadow: 0  0 10px 0px gray;
}
.footbot p{
    color: gray;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.footbot p span{
    color: white;
}


/* media qurries */

@media(max-width:450px){
    #navbar{
    width: 1450px;
    }
    #home{
    width: 1450px;
    display: flex;
    flex-direction:column-reverse;
    padding: 50px 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .homeimg{
        margin: 50px;
    }
    #about{
    display: flex;
    flex-direction:column;
    width: 1450px;
    padding: 50px 50px;
    text-align: center;
    }
    .aboutimg img{
        display: none;
    }
    #services{
    width: 1450px;
    padding: 50px 50px;
    }
    #project{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1450px;
    }
    .projectsdetails{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #contact{
    width: 1450px;
    }
    #footer{
    width: 1450px;
    padding: 50px 50px;
    }
    .footbot{
        box-shadow: none;
    }
}

@media(max-width:350px){
    #navbar{
        width: 1395px;
    }
    #home{
        width: 1395px;
        padding: 50px 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #about{
        display: flex;
        flex-direction:column;
        width: 1395px;
        padding: 50px 50px;
        text-align: center;
        }
        .aboutimg img{
            display: none;
        }
    #services{
        width: 1395px;
        padding: 50px 50px;
        }
    #project{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 1395px;
    }
    #contact{
        width: 1395px;
    }
    #footer{
        width: 1395px;
    }
}